footer.bg-dark.text-light.mt-5
  .container.py-4
    .small © #{new Date().getFullYear()} MyWebsite. All rights reserved.
    .small Developed by 
      a.text-light(href="https://github.com/smallchicken") SmallChicken
