aside.sider.bg-dark.text-white.border-end.min-vh-100
    .inner-menu.p-3
        ul.nav.nav-pills.flex-column.gap-1
            li.nav-item
                a.nav-link.text-white.d-flex.align-items-center.gap-2(href=`${prefixAdmin}/dashboard`)
                    i.bi.bi-speedometer2
                    span Tổng quan
